.home__content {
  display: grid;
  grid-template: 
            "a a a a"
            "b c c c"
            "b c c c" / 0.5fr 1fr 1fr 0.5fr;
  align-self: center;
}
.searchAndFilter {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding: 0em, 1em;
}
.search__cities{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  border: #997404 solid 3px;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border-radius: 45px;
  gap: 0.5em;
  box-shadow: 0 0 0.5em 0.5em #99740412;
}
.filters {
  display: none;
  font-size: 2em;
  color: #997404;
}
.search__icon {
  font-size: 1.2em;
  color: #997404;
  margin: 0.25em;
}
.search__input {
  font-size: 1em;
  border: none;
  outline: none;
  &:focus {
    border: none;
  }
}
.home__filters{
  grid-column: 1 / 2;
  grid-row: 1 /3;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}
.home__title {
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-weight: 700;
  color: #997404;
  width: 80%;
  margin-left: 1.em;
}
.home__cards {
  grid-column: 2 / 5;
  grid-row: 2;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
@media (max-width: 740px) {
  .home__cards {
    grid-column: 1 / 5;
  }
  .home__filters {
    display: none;
  }
  .searchAndFilter {
    grid-column: 1 / 5;
  }
  .filters {
    display: flex;
  }
  .filter__open {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / 5;
    background-color: rgba(255, 255, 255, 0.757);
    width: 100%;
    top: 10em;
    padding-bottom: 3em;
  }
}